.btn {
    line-height: 1;
    padding: 15px 30px;
    border: 0;
    word-wrap: break-all;
    white-space: normal;
    color: @white;
    .lh-drop-shadow(0 1 1 @black);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    &:hover {
        text-shadow: 0 -1px 0 @black;
    }
}
.btn-primary {
    .btn;
    .lh-background-image(linear-gradient(to bottom, lighten(@primary, 5%) 0%, @primary 100%));
    text-transform: uppercase;
    .bolder;
    color: @light-gray;
    &:hover {
        .lh-background-image(linear-gradient(to bottom, darken(@primary, 5%) 0%, @primary 100%));
        color: darken(@light-gray, 15%);
    }
}
.btn-secondary {
    .btn;
    .lh-background-image(linear-gradient(to bottom, lighten(@med-gray, 10%) 0%, @med-gray 100%));
    text-transform: uppercase;
    .bolder;
    color: @light-gray;
    &:hover {
        .lh-background-image(linear-gradient(to bottom, darken(@med-gray, 10%) 0%, @med-gray 100%));
        color: darken(@light-gray, 15%);
    }
}