/*------------------------------------*\
    Global Color Mixins
\*------------------------------------*/

// Brand Colors
@primary: @blue;
@secondary: @dark-gray;

// Scaffolding
@body-bg: #fff;
@text-color: #2d2d2d;

// Links
@link-color: @primary;
@link-hover-color: darken(@link-color, 15%);


/*------------------------------------*\
    Global Color Hex Codes
\*------------------------------------*/

@white: #efefef;
@black: #000000;
@light-gray: #f4f4f4;
@gray: #8E9191;
@med-gray: #5C5E61;
@dark-gray: #373737;
@blue: #005DAB;
@dark-blue: darken(@blue,10%);
@light-blue: #4A8EC7;
@red: #e41637;
@green: #54aa60;


/*------------------------------------*\
    Global CSS Classes
\*------------------------------------*/

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.mt {
	margin-top: 15px;
}

.mb {
	margin-bottom: 15px;
}

.mtb {
    margin-top: 15px;
    margin-bottom: 15px;
}

.checklist {
    li {
        list-style-type: none;
        &:before {
            float: left;
            margin-right: 5px;
            font-family: "FontAwesome";
            content: "\f00c";
        }
    }
}

.clearfix {
    clear: both;
}

.table-responsive {
    width: 100%;
    .mb;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

.trailing-dot {
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.unstyled-list {
    padding: 0;
    list-style-type: none;
}

.underline {
    border-bottom: 1px solid @black;
    margin-bottom: 10px;
    padding-bottom: 10px;
    h1, h2, h3, h4, h5, p {
        margin-bottom: 0;
    }
}

.grayscale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.social-media-colors {
	.facebook {
		color: #3b5998;
	}
	.twitter {
		color: #4099FF;
	}
	.google {
		color: #dd4b39;
	}
	.youtube {
		color: #bb0000;
	}
	.instagram {
		color: #517fa4;
	}
}

