@media (min-width: @screen-lg-min) {
    .top-nav {
        .top-nav-collapse {
            .top-nav-inner {
                &.ie {
                    &:before {
                        border-bottom-width: 59px !important;                        
                    }
                }
                &:before {
                    border-bottom-width: 58px !important;
                }
                >li {
                    >a {
                        font-size: 0.9em !important;
                    }
                }
            }
        }
    }    
} 
@media(min-width: @screen-md-min) {
    .top-nav {
        z-index: 999;
        padding: 0;
        background: @white;
        .top-nav-header, .top-nav-phone, .top-nav-social {
            display: none;
        }

        .top-nav-collapse {
            text-align: right;
            .top-nav-inner {
                display: inline-block;
                letter-spacing: -4px;
                margin: 0;
                padding: 0;
                background: @gray;
                &:before {
                    content: ' ';
                    height: 0;
                    position: absolute;
                    top: 0;
                    width: 0;
                    background: transparent;
                    margin-left: -60px;
                    border: solid 60px transparent;
                    border-right: none;
                    border-top: none;
                    border-bottom: solid 54px @gray;
                }
                >li {
                    letter-spacing: 0px;
                    display: inline-block;
                    list-style-type: none;
                    position: relative;
                    &:hover {
                        >a {
                            background: @dark-red;
                            color: @white;
                        }
                    }
                    >a {
                        display: block;
                        padding: 15px 10px;
                        font-size: 0.75em;
                        color: @black;
                        text-decoration: none;
                        text-transform: uppercase;
                        .transition(0.2s ease-in-out);
                        &:hover {
                            background: @dark-red;
                            color: @white;
                        }
                    }
                    &:last-child {
                        >a {
                            background-color: @primary;
                        }
                    }
                    >ul {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        // .transition(~"opacity 0.5s ease-in-out");
                        line-height: 1;
                        z-index: 9999;
                        list-style: none;
                        padding: 0;
                        text-align: left;
                        background: @white;
                        .lh-drop-shadow(0, 3px, 5px, 0.5);
                        border: 1px solid @black;
                        border-top: 0;
                        width: auto;
                        .lh-border-radius(0,5px,5px,0);
                        li {
                            text-transform: none;
                            float: none;
                            a {
                                display: block;
                                white-space: nowrap;
                                text-decoration: none;
                                padding: 10px 15px 10px 10px;
                                font-size: 0.8em;
                                color: @black;
                                &:hover {
                                    background: @dark-red;
                                    color: @white;
                                }
                            }
                        }
                    }
                    &:hover {
                        >ul {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: @screen-sm-max) {
    .top-nav-container {
        width: 100% !important;
    }
    .top-nav {
        top: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        position: fixed;
        z-index: 1000;
        .top-nav-header {
            .lh-background-image(linear-gradient(to bottom, darken(@primary,10%) 0%,lighten(@primary,10%) 100%));
            display: inline-block;
            width: 100%;
            padding: 0 15px 10px 15px;
            border-bottom: 3px solid darken(@dark-gray,20%);
            .top-nav-logo {
                margin-top: 15px;
                width: 70%;
                float: left;
                a {
                    text-transform: uppercase;
                    .bolder;
                    color: @white;
                    font-size: 1.5em;
                    font-family: @arvo;
                }
            }
            .top-nav-toggle {
                background-color: transparent;
                height: auto;
                float: right;
                border: 0;
                padding: 0px 10px;
                outline: none;
                &:before {
                    content: "\f0c9";
                    font-family: FontAwesome;
                    color: @black;
                    text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    font-size: 60px;
                }
            }
        }
        .top-nav-phone {
            a {
                padding: 10px 0;
                text-align: center;
                display: block;
                text-transform: uppercase;
                width: 100%;
                color: @white;
                font-size: 1.6em;
                .lh-background-image(linear-gradient(to bottom, darken(@primary,5%) 0%,lighten(@primary,5%) 100%));              
                .bold;
            }
        }
        .top-nav-social {
            padding: 10px 0;
            background: @light-gray;
            .box-shadow(inset 0 1px 6px @black);
            text-align: center;
            h2 {
                margin: 0;
                padding-bottom: 5px;
            }
            a {
                i {
                    font-size: 3em;
                }
            }
        }
        .top-nav-collapse {
            z-index: 1000;
            width: 100%;
            background-color: @dark-gray;
            min-height: 100%;
            position: absolute;
            right: -100%;
            margin-top: -8px;
            margin-bottom: 0;
            .transition(all 0.5s ease-out);
            .top-nav-inner {
                margin: 0;
                .unstyled-list;
                li {
                    border-top: 1px solid lighten(@dark-gray,10%);
                    border-bottom: 1px solid darken(@dark-gray,10%);
                    &:last-child {
                        border-bottom: 0;
                    }
                    a {
                        font-size: 1.2em;
                        padding: 7px 15px;
                        display: block;
                        color: @white;
                        text-decoration: none;
                        &:hover {
                            background: @gray;
                            color: @white;
                        }
                    }
                    >a {
                        &:after {
                            float: right;
                            color: darken(@dark-gray,10%);
                            font-family: FontAwesome;
                        }
                    }
                    &.uncollapsed {
                        >a {
                            .lh-background-image(linear-gradient(to bottom, darken(@med-gray,5%) 0%,lighten(@med-gray,5%) 100%));
                            &:after {
                                content: "\f078";
                                color: @white;
                            }
                        }
                        ul {
                            li {
                                border-top: 1px solid lighten(@black,20%);
                                a {
                                    padding-left: 30px;
                                    background: @black;
                                }
                            }
                        }
                    }
                    &.collapsed {
                        >a {
                            &:after {
                                content: "\f054";
                            }
                        }
                    }                    
                    ul {
                        .unstyled-list;
                        display: none;
                        li {

                        }
                    }
                }
            }
        }
        &.active {
            top: 0;
            bottom:0;
            position:fixed;
            overflow-y:scroll;
            overflow-x:hidden;
            background: transparent;
            .top-nav-header {
                .top-nav-toggle {
                    &:before {
                        content: "\f00d";
                    }
                }
            }
            .top-nav-collapse {
                .transition(0.5s ease-in);
                right: 0;
            }
        }
    }
}
@media(max-width: @screen-xs-max) {
    .top-nav {
        .top-nav-header {
            .top-nav-logo {
                margin-top: 10px;
                a {
                    font-size: 0.9em;
                }
            }
            .top-nav-toggle {
                &:before {
                    font-size: 36px !important;
                }
            }
        }
    }
}