@media (min-width: @screen-lg-min) {

} 

@media (min-width: @screen-md-min) {

}

@media (max-width: @screen-md-max) {

} 

@media (max-width: @screen-md-max) and (min-width: @screen-md-min) {

} 
@media (min-width: @screen-sm-min) {
}

@media (max-width: @screen-sm-max) {

}

@media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {
    
}
@media (max-width: @screen-xs-max) {
	header {
		display: none;
	}
	#message-container {
		margin: 0 !important;
		.message {
			padding-top: 50px !important;
			font-size: 0.9em !important;
			h2 {
				margin-top: -50px !important;
				font-size: 1.3em !important;
			}
		}
	}
	.step-container {
		.step {
			h3 {
				font-size: 1em !important;
			}
			span {
				font-size: 0.4em !important;
			}
		}
	}
	#form-container {
		background: rgba(74, 142, 199, 1) !important;
		.group-heading {
			h3 {
				span {
					font-size: 0.5em !important;
				}
			}
		}
		form {
			background: rgba(74, 142, 199, 1) !important;
			.step-two, .step-three {
			.form-group {
				label {
					margin-left: -15px;
				}
				padding-left: 15px;
				&.rent-own {
					label {
						margin-left: 0;
					}
					padding-left: 0;
				}
			}
		}
		}
		.pagination {
			span {
				padding-left: 15px !important;
				padding-right: 15px !important;
				font-size: 0.9em !important;
			}
		}
	}

}