@import "imports.less";
/*------------------------------------*\
    body
\*------------------------------------*/

#loader {
    .spinner {
        position: fixed !important;
    }
}
#wrapper {
    .opacity(0);
    &.loaded {
        .opacity(1);
        .transition(all 0.2s ease-in-out);
    }
}
body {
    background: url(/crd-we-drive-alberta/static/img/bg-1920.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
/*------------------------------------*\
    header
\*------------------------------------*/

header {
    display: none;
    background: @white;
    padding: 5px 30px;
    position: relative;
    z-index: 90;
    .lh-drop-shadow(0 1 5 @black);
    .dealer-logo {
        a {
            font-family: @days-one;
            text-transform: uppercase;
            font-size: 1.5em;
        }
    }
}
/*------------------------------------*\
    homepage elements
\*------------------------------------*/

#car-load {
    text-align: center;
    margin-top: 5vh;
    display: none;
    h2 {
        .bolder;
        color: @white;
        font-size: 1.8em;
    }
    .car-load-wrapper {
        position: relative;
        height: 40px;
        .car {
            z-index: 2;
            position: absolute;
            top: -1px;
            left: 0;
            width: 70px;
            height: 38px;
            background-image: url(/crd-we-drive-alberta/static/img/convertible-blue.png);
            background-size: 100% 100%;
        }
        .progress-bar {
            z-index: 1;
            position: absolute;
            top: 50%;
            margin-top: -2.5px;
            width: 100%;
            height: 5px;
            background: @white;
            .lh-border-radius(50px);
        }
    }
}
#message-container {
    position: relative;
    padding: 5px;
    margin: 2vh;
    z-index: 100;
    background: rgba(255, 255, 255, 0.4);
    .lh-border-radius(5px);
    .message {
        background: rgba(255, 255, 255, 0.95);
        .lh-border-radius(5px);
        padding: 25px;
        display: none;
        color: @med-gray;
        font-size: 1.2em;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        line-height: 1.75;
        h2 {
            font-family: @days-one;
            margin-top: 0;
            font-size: 1.8em;
            color: @white;
            text-align: center;
            .lh-background-image(linear-gradient(to bottom, lighten(@primary, 5%) 0%, @primary 100%)) !important;
            padding: 15px 0;
            margin: -25px -25px 15px -25px;
            text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.8);
            .lh-border-radius(5px, 5px, 0, 0);
        }
        #area {
            color: @black;
            .bolder;
            font-size: 1.1em;
            text-transform: uppercase;
        }
        &:first-child {
            display: block;
        }
    }
    #message-close {
        top: 10px;
        right: 15px;
        position: absolute;
        &:before {
            line-height: 1;
            font-size: 2em;
            content: "\f00d";
            font-family: "FontAwesome";
            color: @white;
        }
    }
}
.step-container {
    .mb;
    display: inline-block;
    width: 100%;
    .step {
        text-align: center;
        border-right: 1px solid darken(@light-gray, 10%);
        border-bottom: 2px solid darken(@light-gray, 10%);
        padding: 15px 0;
        h3 {
            margin: 0;
            color: @white;
            font-size: 1.45em;
            text-transform: uppercase;
            &:after {
                font-size: 0.9em;
                margin-left: 5px;
                content: "\f096";
                font-family: "FontAwesome";
                color: @white;
            }
        }
        span {
            display: block;
            font-size: 0.52em;
            color: @white;
            text-transform: uppercase;
        }
        &:last-child {
            border-right: none;
        }
        &.inprogress {
            .lh-background-image(linear-gradient(to bottom, lighten(@primary, 5%) 0%, @primary 100%)) !important;
            h3, span {
                .lh-drop-shadow(0 1 1 @black) !important;
                .opacity(1) !important;
            }
            h3 {
                &:after {
                    content: "\f044";
                }
            }
            &:hover {
                .lh-background-image(linear-gradient(to bottom, @primary 0%, darken(@primary, 15%) 100%)) !important;
            }
        }
        &.incomplete {
            .lh-background-image(linear-gradient(to bottom, lighten(@gray, 15%) 0%, @gray 100%));
            h3, span {
                .opacity(0.2);
                text-shadow: 0 -1px 0 @black;
            }
        }
        &.complete {
            .lh-background-image(linear-gradient(to bottom, lighten(@green, 5%) 0%, @green 100%)) !important;
            h3, span {
                .lh-drop-shadow(0 1 1 @black) !important;
            }
            h3 {
                &:after {
                    content: "\f046" !important;
                }
            }
            &:hover {
                .lh-background-image(linear-gradient(to bottom, @primary 0%, darken(@primary, 15%) 100%)) !important;
            }
        }
    }
}
#form-container {
    display: none;
    height: 100vh;
    position: relative;
    z-index: 99;
    padding-bottom: 15px;
    background: rgba(74, 142, 199, 0.98);
    border-left: 2px solid darken(@light-gray, 10%);
    >.row, form {
        display: none;
    }
    form {
        position: relative;
        fieldset {
            &.step-one {
                label {
                    text-align: center;
                }
                .vehicle-container {
                    .vehicle {
                        text-align: center;
                        padding: 15px 30px;
                        img {
                            .img-responsive;
                            .opacity(0.3);
                        }
                        span {
                            display: block;
                            color: @white;
                            text-transform: uppercase;
                        }
                        &:hover {
                            img {
                                .opacity(0.6);
                            }
                        }
                        &.active {
                            img, span {
                                .lh-drop-shadow(0 1 5 @dark-blue);
                            }
                            img {
                                .opacity(1);
                            }
                        }
                    }
                }
                .slider-container {
                    .slider-value-wrapper {
                        h3 {
                            .lh-background-image(linear-gradient(to bottom, lighten(@primary, 5%) 0%, @primary 100%)) !important;
                            text-align: center;
                            padding: 5px 0;
                            margin: 0;
                            color: @white;
                        }
                    }
                    .slider-wrapper {
                        padding-top: 10px;
                        .slider {
                            .ui-slider-handle {
                                .lh-border-radius(50px);
                            }
                        }
                    }
                }
            }
            &.step-two, &.step-three {
                display: none;
                .form-group {
                    padding-right: 15px;
                }
            }
            .pagination {
                margin: 15px 0;
                width: 100%;
                span {
                    .btn-primary;
                    &.prev {
                        float: left;
                        &:before {
                            float: left;
                            margin-right: 5px;
                            content: "\f0d9";
                            font-family: "FontAwesome";
                        }
                    }
                    &.next {
                        float: right;
                        &:after {
                            float: right;
                            margin-left: 5px;
                            content: "\f0da";
                            font-family: "FontAwesome";
                        }
                    }
                }
            }
            .group-heading {
                padding: 5px 0;
                h3 {
                    .bolder;
                    margin: 0;
                    font-size: 1.2em;
                    color: @dark-blue;
                    text-transform: uppercase;
                    padding-bottom: 5px;
                    border-bottom: 2px solid @dark-blue;
                    span {
                        font-size: 0.8em;
                        color: lighten(@dark-blue, 5%);
                    }
                }
            }
            .form-group {
                position: relative;
                margin-top: 15px;
                margin-bottom: 15px;
                label {
                    display: block;
                    padding: 10px 5px 10px 2px;
                    font-size: 1em;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    cursor: pointer;
                    color: @white;
                    margin-bottom: 0;
                    font-weight: 300;
                }
                input, textarea, select {
                    font-family: @lato;
                    line-height: 1.5;
                    font-size: 1.2em;
                    height: 50px;
                    padding: 5px 10px;
                    color: @white;
                    display: block;
                    width: 100%;
                    background: darken(@light-blue,5%);
                    border: 1px solid @blue;
                    &.error {
                        border-color: @red;
                        background: rgba(230,50,55,0.5);
                    }
                    &.valid {
                        border-color: @green;
                    }
                }
                select {
                    font-size: 1em;
                }
                textarea {
                    min-height: 200px;
                }
                input:focus, textarea:focus, label:active + input, label:active + textarea {
                    outline: none;
                    border: 3px solid @dark-blue;
                    background: darken(@light-blue, 15%);
                }
                select:focus {
                    outline: none;
                }
                ::-webkit-input-placeholder {
                    /* WebKit browsers */
                    
                    color: @dark-blue;
                    font-style: italic;
                }
                :-moz-placeholder {
                    /* Mozilla Firefox 4 to 18 */
                    
                    color: @dark-blue;
                    font-style: italic;
                }
                ::-moz-placeholder {
                    /* Mozilla Firefox 19+ */
                    
                    color: @dark-blue;
                    font-style: italic;
                }
                :-ms-input-placeholder {
                    /* Internet Explorer 10+ */
                    
                    color: @dark-blue;
                    font-style: italic;
                }
                p.error, p.valid-input {
                    display: none !important;
                    .opacity(0.9);
                    position: absolute;
                    top: 10px;
                    right: 0;
                    margin: 0;
                    font-size: 1px;
                    letter-spacing: -1px;
                    &:before {
                        line-height: 1;
                        margin-left: -60px;
                        font-size: 32px;
                        font-family: "FontAwesome";
                    }
                }
                p.error {
                    color: @red;
                    &:before {
                        content: "\f00d";
                    }
                }
                p.valid-input {
                    color: @green;
                    &:before {
                        content: "\f00c";
                    }
                }
                &.form-question {
                    padding-right: 0;
                    margin-bottom: 30px;
                    label {
                        font-size: 0.9em;
                    }
                    >div {
                        text-align: center;
                        span {
                            .btn-secondary;
                            padding: 12px 0;
                            font-size: 1.5em;
                            width: 100%;
                            &:after {
                                margin-left: 15px;
                                content: "\f096";
                                font-family: "FontAwesome";
                            }
                            &:hover {
                                background: @med-gray;
                            }
                        }
                        &.active {
                            span {
                                background: @dark-gray;
                                &:after {
                                    content: "\f046";
                                }
                            }
                        }
                    }
                }
            }
            .form-button {
                float: right;
                button {
                    .btn-secondary;
                    &:after {
                        float: right;
                        margin-left: 5px;
                        content: "\f00c";
                        font-family: "FontAwesome";
                    }
                }
            }
        }
    }
}
/*------------------------------------*\
    content sections
\*------------------------------------*/
/*------------------------------------*\
    extra
\*------------------------------------*/

.back-to-top {
    background-color: @primary;
    padding: 5px 15px;
    position: fixed;
    bottom: -2em;
    right: 1em;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    color: @white;
    .transition(all 0.2s ease-in-out);
    .lh-border-radius(3px);
    i {
        font-size: 2em;
    }
    &:hover {
        background-color: darken(@primary, 30%);
        color: @black;
    }
    &.show {
        bottom: 1em;
        visibility: visible;
        opacity: 1;
    }
}