/*------------------------------------*\
    content blocks
\*------------------------------------*/

.content-block {
    .make-row;
    padding-bottom: 30px;
    &:first-child {
        padding-top: 45px;
    }
    &:last-child {
        padding-bottom: 45px;
    }
    img {
        margin-bottom: 20px;
    }
}
.full-content {
    .make-xs-column(12);
    .make-md-column(12);
}
.half-content {
    .make-xs-column(12);
    .make-sm-column(6);
    .make-md-column(6);
}
.third-content {
    .make-xs-column(12);
    .make-sm-column(6);
    .make-md-column(4);
    &:last-child {
        .make-sm-column(12);
        .make-md-column(4);
    }
}
.two-third-content {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(8);
}
.quarter-content {
    .make-xs-column(12);
    .make-sm-column(3);
    .make-md-column(3);
}
.three-quarter-content {
    .make-xs-column(12);
    .make-sm-column(9);
    .make-md-column(9);
}
.sixth-content {
    .make-xs-column(4);
    .make-md-column(2);
}
.five-sixth-content {
    .make-xs-column(12);
    .make-md-column(10);
}
/*------------------------------------*\
    header
\*------------------------------------*/
/*------------------------------------*\
    homepage sections
\*------------------------------------*/

html {
    height: 100%;
}
body {
    height: 100%;
    #wrapper {
        height: inherit;
        .container-fluid {
            height: inherit;
            >.row {
                height: inherit;
            }
        }
    }
}
#message-container {
    .make-xs-column(12);
    .make-sm-column(5.3);
    .make-md-column(5);
    position: fixed !important;
    #message-close {
        .hidden-sm;
        .hidden-md;
        .hidden-lg;
    }
}
#form-container {
    .make-xs-column(12);
    .make-sm-column(6);
    .make-md-column(5);
    .make-lg-column(3.85);
    float: right !important;
    .step-container {
        .step {
            .make-xs-column(4);
            .make-md-column(4);
        }
    }
    .vehicle-container {
        .vehicle {
            .make-xs-column(6);
            .make-md-column(6);
        }
    }
    .slider-container {
        .make-row();
        .slider-value-wrapper {
            .make-xs-column(5);
            .make-md-column(5);
        }
        .slider-wrapper {
            .make-xs-column(7);
            .make-md-column(7);
        }
    }
    form {
        .step-two, .step-three {
            .form-group {
                .make-row();
                >label {
                    .make-xs-column(12);
                    .make-sm-column(4.5);
                    .make-md-column(4.5);
                }
                >input, >div {
                    .make-xs-column(12);
                    .make-sm-column(7.5);
                    .make-md-column(7.5);
                }
                .dob {
                    .dob-month {
                        .make-xs-column(4.5);
                        .make-sm-column(4.5);
                        .make-md-column(4.5);
                    }
                    .dob-day {
                        .make-xs-column(3.3);
                        .make-xs-column-offset(0.2);
                        .make-sm-column(3.3);
                        .make-md-column(3.3);
                        .make-md-column-offset(0.2);
                    }
                    .dob-year {
                        .make-xs-column(3.8);
                        .make-xs-column-offset(0.2);
                        .make-sm-column(3.8);
                        .make-md-column(3.8);
                        .make-md-column-offset(0.2);
                    }
                }
                .house-duration, .job-duration {
                    select {
                        &:first-child {
                            .make-xs-column(5);
                            .make-sm-column(5);
                            .make-md-column(5);
                        }
                        &:last-child {
                            .make-xs-column(6.8);
                            .make-xs-column-offset(0.2);
                            .make-sm-column(6.8);
                            .make-md-column(6.8);
                            .make-md-column-offset(0.2);
                        }
                    }
                }
            }
        }
        .form-question {
            .make-row();
            label {
                .make-xs-column(12) !important;
                .make-sm-column(12) !important;
                .make-md-column(12) !important;
            }
            >div {
                .make-xs-column(6) !important;
                .make-sm-column(6) !important;
                .make-md-column(6) !important;
            }
        }
    }
}
/*------------------------------------*\
    Footer
\*------------------------------------*/