/*------------------------------------*\
    Imports
\*------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|PT+Sans:400,700,400italic,700italic|Days+One:400);

/*------------------------------------*\
    Global Typography Variables
\*------------------------------------*/
@font-family-sans-serif:  @pt-sans;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;
@font-family-bold:        @pt-sans;

@font-size-base:          16px;
@font-size-large:         ceil(@font-size-base * 1.25); // ~18px
@font-size-small:         ceil(@font-size-base * 0.85); // ~12px

@font-size-h1:            floor(@font-size-base * 1.6); // ~36px
@font-size-h2:            floor(@font-size-base * 1.4); // ~30px
@font-size-h3:            ceil(@font-size-base * 1.3); // ~24px
@font-size-h4:            ceil(@font-size-base * 1.25); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil(@font-size-base * 0.85); // ~12px

@line-height-base:        2; // 20/14
@line-height-computed:    floor(@font-size-base * @line-height-base); // ~20px

@headings-font-family:    @font-family-base;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          inherit;

@light-text:        @white;
@dark-text:         @black;


/*------------------------------------*\
    Custom Fonts
\*------------------------------------*/

@arvo: 'Arvo', serif;

@pt-sans: 'PT Sans', sans-serif;

@lato: 'Lato', Calibri, Arial, sans-serif;

@days-one: 'Days One', sans-serif; 

/*------------------------------------*\
    Custom Font-Styles
\*------------------------------------*/

.bold {
  font-weight: 700 !important;
}

.bolder {
  font-weight: 900 !important;
}

/*------------------------------------*\
    General
\*------------------------------------*/


